#time-flex {
	display: inline-flex;
	flex-wrap: wrap;
	overflow: scroll
}

.time-tile {
	height: 80px;
	width: 80px;
	background: #FFC0CB;
	cursor: pointer;
}

.slot-booked {
    background: #5d5d5d;
	color: white;
    cursor: not-allowed;
}
